Repository newrelic/nrdot-collector-components: changes, and which Codecov flags are due for each by the changed paths.
All: exporter_nop, processor_adaptivetelemetry, receiver_nop, testbed

ci: add quick win workflows back
  .github/workflows/add-codeowners-to-pr.yml
  .github/workflows/generate-component-labels.yml
  .github/workflows/mark-issues-as-stale.yml
  .github/workflows/milestone-add-to-pr.yml
  .github/workflows/scorecard.yml
Due: none

ci: add quick win workflows back (#147)
  .github/workflows/add-codeowners-to-pr.yml
  .github/workflows/generate-component-labels.yml
  .github/workflows/mark-issues-as-stale.yml
  .github/workflows/milestone-add-to-pr.yml
  .github/workflows/scorecard.yml
Due: none

ci: fix arg parsing of githubgen
  .github/workflows/check-codeowners.yaml
Due: none

ci: fix arg parsing of githubgen (#149)
  .github/workflows/check-codeowners.yaml
Due: none

chore: mark ATP as alpha for metrics
  processor/adaptivetelemetryprocessor/README.md
  processor/adaptivetelemetryprocessor/internal/metadata/generated_status.go
  processor/adaptivetelemetryprocessor/metadata.yaml
Due: processor_adaptivetelemetry

ci: more workflow updates
  .github/workflows/add-labels.yml
  .github/workflows/check-merge-freeze.yml
  .github/workflows/first-time-contributor.yml
  .github/workflows/fossa.yml
  .github/workflows/generate-weekly-report.yml
  .github/workflows/survey-on-merged-pr.yml
  .github/workflows/tidy-dependencies.yml
Due: none

updated .chloggen/feature_atp.yaml
  .chloggen/feature_atp.yaml
Due: none

chore: mark ATP as alpha for metrics (#148)
  processor/adaptivetelemetryprocessor/README.md
  processor/adaptivetelemetryprocessor/internal/metadata/generated_status.go
  processor/adaptivetelemetryprocessor/metadata.yaml
Due: processor_adaptivetelemetry

chore: try dynamic metadata extraction and processors in correctness tests
  cmd/oteltestbedcol/builder-config.yaml
  processor/adaptivetelemetryprocessor/metadata.yaml
  testbed/correctnesstests/metrics/correctness_test_case.go
  testbed/correctnesstests/metrics/metrics_correctness_test.go
  testbed/correctnesstests/metrics/testdata/generated_pict_pairs_metrics_pipeline.txt
  testbed/correctnesstests/metrics/testdata/pict_input_metrics_pipeline.txt
  testbed/go.mod
  testbed/go.sum
  testbed/testbed/component_metadata.go
  testbed/testbed/components.go
  testbed/testbed/receivers.go
Due: processor_adaptivetelemetry, testbed

chore: add override
  internal/assets/license/overrides.jsonl
  testbed/THIRD_PARTY_NOTICES.md
Due: testbed

chore: try a load test with custom processor
  testbed/testbed/component_metadata.go
  testbed/tests/batcher_test.go
  testbed/tests/log_test.go
  testbed/tests/metric_test.go
  testbed/tests/resource_processor_test.go
  testbed/tests/sandbox_processor_load_test.go
  testbed/tests/scenarios.go
  testbed/tests/syslog_integration_test.go
  testbed/tests/trace_test.go
Due: testbed

ci: more workflow updates (#150)
  .github/workflows/add-labels.yml
  .github/workflows/check-merge-freeze.yml
  .github/workflows/first-time-contributor.yml
  .github/workflows/fossa.yml
  .github/workflows/generate-weekly-report.yml
  .github/workflows/survey-on-merged-pr.yml
  .github/workflows/tidy-dependencies.yml
Due: none

ci: dummy change to trigger CodeQL
  .chloggen/feature_atp.yaml
Due: none

feat: remove processor from atp type name
  .chloggen/config.yaml
  processor/adaptivetelemetryprocessor/README.md
  processor/adaptivetelemetryprocessor/factory.go
  processor/adaptivetelemetryprocessor/factory_test.go
  processor/adaptivetelemetryprocessor/generated_component_test.go
  processor/adaptivetelemetryprocessor/internal/metadata/generated_status.go
  processor/adaptivetelemetryprocessor/metadata.yaml
Due: processor_adaptivetelemetry

ci: fix supposedly dead links
  .github/lychee.toml
Due: none

docs: add PR to existing atp changelog
  .chloggen/feature_atp.yaml
Due: none

ci: allow changing existing changelog entry
  .github/workflows/changelog.yml
Due: none

ci: skip shellcheck info/style
  .github/actionlint.yaml
Due: none

ci: fix failing scoped test due to shallow checkout
  .github/workflows/scoped-test.yaml
Due: none

test: skip path tests for windows
  processor/adaptivetelemetryprocessor/storage_validation_test.go
Due: processor_adaptivetelemetry

docs: add missing windows compatibility
  processor/adaptivetelemetryprocessor/README.md
Due: processor_adaptivetelemetry

fix(windows): added a windows compliant storage path
  processor/adaptivetelemetryprocessor/config.go
  processor/adaptivetelemetryprocessor/factory.go
  processor/adaptivetelemetryprocessor/storage.go
Due: processor_adaptivetelemetry

fix(tests): fix and add test for windows storage path validation
  processor/adaptivetelemetryprocessor/storage_validation_test.go
Due: processor_adaptivetelemetry

fix(test): fix failing tests for storage path
  processor/adaptivetelemetryprocessor/factory_test.go
  processor/adaptivetelemetryprocessor/storage_validation_test.go
Due: processor_adaptivetelemetry

ran generate chloggen components
  .chloggen/config.yaml
Due: none

fix(security): address TOCTOU and permission bypass vulnerabilities in storage
  .chloggen/update_chloggen_components.yaml
  processor/adaptivetelemetryprocessor/resource_utils_test.go
  processor/adaptivetelemetryprocessor/storage.go
  processor/adaptivetelemetryprocessor/storage_test.go
  processor/adaptivetelemetryprocessor/storage_validation_test.go
Due: processor_adaptivetelemetry

feat(atp): handle windows symlink validation for secure storage
  processor/adaptivetelemetryprocessor/storage.go
  processor/adaptivetelemetryprocessor/storage_unix.go
  processor/adaptivetelemetryprocessor/storage_validation_test.go
  processor/adaptivetelemetryprocessor/storage_windows.go
  processor/adaptivetelemetryprocessor/storage_windows_test.go
Due: processor_adaptivetelemetry

feat(atp): Remove configurable storage_path, enforce platform-specific defaults, add Windows symlink validations
  processor/adaptivetelemetryprocessor/README.md
  processor/adaptivetelemetryprocessor/config.go
  processor/adaptivetelemetryprocessor/factory.go
  processor/adaptivetelemetryprocessor/factory_test.go
  processor/adaptivetelemetryprocessor/persistence.go
  processor/adaptivetelemetryprocessor/persistence_shutdown_test.go
  processor/adaptivetelemetryprocessor/processor_init.go
  processor/adaptivetelemetryprocessor/processor_test.go
  processor/adaptivetelemetryprocessor/resource_utils_test.go
  processor/adaptivetelemetryprocessor/storage.go
  processor/adaptivetelemetryprocessor/storage_validation_test.go
Due: processor_adaptivetelemetry

fix(checks): fix few failing checks
  processor/adaptivetelemetryprocessor/README.md
  processor/adaptivetelemetryprocessor/storage_unix.go
  processor/adaptivetelemetryprocessor/storage_windows.go
  processor/adaptivetelemetryprocessor/storage_windows_test.go
Due: processor_adaptivetelemetry

fix(checks): fix failing checks in PR
  processor/adaptivetelemetryprocessor/README.md
  processor/adaptivetelemetryprocessor/storage_windows_test.go
Due: processor_adaptivetelemetry

updated code owners
  receiver/newrelicoraclereceiver/metadata.yaml
Due: none

chore: add PR to chloggen issue list
  .chloggen/feature_atp.yaml
Due: none

chore: add missing license override
  internal/assets/license/overrides.jsonl
Due: none

docs: generate README
  processor/adaptivetelemetryprocessor/README.md
Due: processor_adaptivetelemetry

chore: update chloggen entry
  .chloggen/config.yaml
  .chloggen/feature_atp.yaml
Due: none

Path conditions:
  exporter_nop: any of: exporter/nopexporter/**, but not: */**/third_party/**/*
  processor_adaptivetelemetry: any of: processor/adaptivetelemetryprocessor/**, but not: */**/third_party/**/*
  receiver_nop: any of: receiver/nopreceiver/**, but not: */**/third_party/**/*
  testbed: any of: testbed/**, but not: */**/third_party/**/*
