Repository newrelic/nrdot-collector-components: changes, and which Codecov flags are due for each by the changed paths.
All: exporter_nop, processor_adaptivetelemetry, receiver_nop, testbed

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes
    # wait for unit and integration test builds.
    after_n_builds: 2
  strict_yaml_branch: main  # only use the latest copy on main branch

coverage:
  precision: 2
  round: down
  range: "80...100"
  status:
    project:
      default:
        enabled: yes
        target: 85%  # This needs to be updated to 90 or higher.
    patch:
      default:
        enabled: yes
        target: 95%

ignore:
  - "*/**/third_party/**/*" # Ignore all 'third_party' directories and files within those directories recursively.

# Use component management to get coverage for each component.
# See https://docs.codecov.com/docs/components
# This list is autogenerated by codecovgen.
# Start autogenerated components list
component_management:
  individual_components:
  - component_id: exporter_nop
    name: exporter_nop
    paths:
    - exporter/nopexporter/**
  - component_id: processor_adaptivetelemetry
    name: processor_adaptivetelemetry
    paths:
    - processor/adaptivetelemetryprocessor/**
  - component_id: receiver_nop
    name: receiver_nop
    paths:
    - receiver/nopreceiver/**
  - component_id: testbed
    name: testbed
    paths:
    - testbed/**
# End autogenerated components list

security: Enhance state management security controls
  processor/adaptivetelemetryprocessor/README.md
  processor/adaptivetelemetryprocessor/config.go
  processor/adaptivetelemetryprocessor/factory.go
  processor/adaptivetelemetryprocessor/factory_test.go
  processor/adaptivetelemetryprocessor/include_list_integration_test.go
  processor/adaptivetelemetryprocessor/include_list_test.go
  processor/adaptivetelemetryprocessor/processor_test.go
  processor/adaptivetelemetryprocessor/storage.go
  processor/adaptivetelemetryprocessor/storage_validation_test.go
  processor/adaptivetelemetryprocessor/utils.go
Due: processor_adaptivetelemetry

fix: Address linting issues in adaptive telemetry processor
  processor/adaptivetelemetryprocessor/storage.go
  processor/adaptivetelemetryprocessor/storage_validation_test.go
  processor/adaptivetelemetryprocessor/utils.go
Due: processor_adaptivetelemetry

feat: Include zombie processes and fix unmonitored metrics
  processor/adaptivetelemetryprocessor/process_metrics.go
Due: processor_adaptivetelemetry

feat: Always include zombie processes irrespective of the resource consumption metrics
  processor/adaptivetelemetryprocessor/constants.go
  processor/adaptivetelemetryprocessor/process_metrics.go
  processor/adaptivetelemetryprocessor/utils.go
  processor/adaptivetelemetryprocessor/zombie_process_test.go
Due: processor_adaptivetelemetry

refactor: change licence type in new file
  processor/adaptivetelemetryprocessor/zombie_process_test.go
Due: processor_adaptivetelemetry

feat: Include zombie processes and fix unmonitored metrics (#139)
  processor/adaptivetelemetryprocessor/constants.go
  processor/adaptivetelemetryprocessor/process_metrics.go
  processor/adaptivetelemetryprocessor/utils.go
  processor/adaptivetelemetryprocessor/zombie_process_test.go
Due: processor_adaptivetelemetry

security: Enhance state management security controls (#138)
  processor/adaptivetelemetryprocessor/README.md
  processor/adaptivetelemetryprocessor/config.go
  processor/adaptivetelemetryprocessor/factory.go
  processor/adaptivetelemetryprocessor/factory_test.go
  processor/adaptivetelemetryprocessor/include_list_integration_test.go
  processor/adaptivetelemetryprocessor/include_list_test.go
  processor/adaptivetelemetryprocessor/processor_test.go
  processor/adaptivetelemetryprocessor/storage.go
  processor/adaptivetelemetryprocessor/storage_validation_test.go
  processor/adaptivetelemetryprocessor/utils.go
Due: processor_adaptivetelemetry

chore: add codeowners for atp
  .github/CODEOWNERS
  .github/component_labels.txt
Due: none

fix: Address lint and test compilation errors after metric consolidation refactor
  docs/PROCESS_MONITORING.md
  processor/adaptivetelemetryprocessor/adaptiveprocess.db
  processor/adaptivetelemetryprocessor/add_attribute_test.go
  processor/adaptivetelemetryprocessor/filter_summary_test.go
  processor/adaptivetelemetryprocessor/include_list_integration_test.go
  processor/adaptivetelemetryprocessor/metric_evaluation_test.go
  processor/adaptivetelemetryprocessor/process_metrics.go
  processor/adaptivetelemetryprocessor/process_metrics_test.go
  processor/adaptivetelemetryprocessor/resource_utils.go
  processor/adaptivetelemetryprocessor/resource_utils_test.go
  processor/adaptivetelemetryprocessor/threshold_ingestion.go
Due: processor_adaptivetelemetry

fix: Add missing attribute
  processor/adaptivetelemetryprocessor/process_metrics.go
Due: processor_adaptivetelemetry

refactor: Consolidate process metrics into single process.atp metric
  processor/adaptivetelemetryprocessor/constants.go
  processor/adaptivetelemetryprocessor/process_metrics.go
  processor/adaptivetelemetryprocessor/resource_utils.go
  processor/adaptivetelemetryprocessor/resource_utils_test.go
  processor/adaptivetelemetryprocessor/threshold_ingestion.go
Due: processor_adaptivetelemetry

refactor: fix unit and integration test checks
  processor/adaptivetelemetryprocessor/include_list_integration_test.go
  processor/adaptivetelemetryprocessor/process_metrics.go
  processor/adaptivetelemetryprocessor/process_metrics_test.go
Due: processor_adaptivetelemetry

Remove PROCESS_MONITORING.md
  docs/PROCESS_MONITORING.md
Due: none

refactor: unit and integrration-test check
  processor/adaptivetelemetryprocessor/include_list_integration_test.go
  processor/adaptivetelemetryprocessor/process_metrics.go
  processor/adaptivetelemetryprocessor/utils.go
Due: processor_adaptivetelemetry

refactor: clear unit and integration test checks
  processor/adaptivetelemetryprocessor/include_list_integration_test.go
  processor/adaptivetelemetryprocessor/utils.go
  processor/adaptivetelemetryprocessor/zombie_process_test.go
Due: processor_adaptivetelemetry

chore: add codeowners for atp (#140)
  .github/CODEOWNERS
  .github/component_labels.txt
Due: none

refactor: pass lint-metrics check
  processor/adaptivetelemetryprocessor/include_list_integration_test.go
Due: processor_adaptivetelemetry

refactor: Consolidate process metrics into single process.atp metric (#137)
  processor/adaptivetelemetryprocessor/adaptiveprocess.db
  processor/adaptivetelemetryprocessor/add_attribute_test.go
  processor/adaptivetelemetryprocessor/constants.go
  processor/adaptivetelemetryprocessor/filter_summary_test.go
  processor/adaptivetelemetryprocessor/include_list_integration_test.go
  processor/adaptivetelemetryprocessor/metric_evaluation_test.go
  processor/adaptivetelemetryprocessor/process_metrics.go
  processor/adaptivetelemetryprocessor/process_metrics_test.go
  processor/adaptivetelemetryprocessor/resource_utils.go
  processor/adaptivetelemetryprocessor/resource_utils_test.go
  processor/adaptivetelemetryprocessor/threshold_ingestion.go
  processor/adaptivetelemetryprocessor/utils.go
  processor/adaptivetelemetryprocessor/zombie_process_test.go
Due: processor_adaptivetelemetry

Fix formatting and syntax errors in generated test files
  receiver/newrelicoraclereceiver/client/sql_client.go
  receiver/newrelicoraclereceiver/internal/metadata/generated_config_test.go
  receiver/newrelicoraclereceiver/models/slowquery.go
  receiver/newrelicoraclereceiver/queries/qpm_constants.go
  receiver/newrelicoraclereceiver/scrapers/database_info_scraper_test.go
  receiver/newrelicsqlserverreceiver/internal/metadata/generated_config_test.go
  receiver/newrelicsqlserverreceiver/models/security_metrics.go
Due: none

refactor: LICENSING FILE NOT NEEDED + remove duplicate line
  LICENSING
  processor/adaptivetelemetryprocessor/process_metrics.go
Due: processor_adaptivetelemetry

chore: enable automated CODEOWNERS generation from metadata.yaml
  .github/ALLOWLIST
  .github/CODEOWNERS
  .github/workflows/check-codeowners.yaml
  Makefile
  cmd/codecovgen/metadata.yaml
  cmd/githubgen/allowlist.txt
  exporter/nopexporter/metadata.yaml
  internal/common/metadata.yaml
  internal/coreinternal/metadata.yaml
  processor/adaptivetelemetryprocessor/metadata.yaml
  receiver/nopreceiver/metadata.yaml
  testbed/metadata.yaml
Due: exporter_nop, processor_adaptivetelemetry, receiver_nop, testbed

chore: Update labels
  .github/component_labels.txt
Due: none

chore: fix links
  Makefile
  exporter/nopexporter/README.md
  processor/adaptivetelemetryprocessor/README.md
  receiver/nopreceiver/README.md
Due: exporter_nop, processor_adaptivetelemetry, receiver_nop

chore: enable automated CODEOWNERS generation from metadata.yaml (#143)
  .github/ALLOWLIST
  .github/CODEOWNERS
  .github/component_labels.txt
  .github/workflows/check-codeowners.yaml
  Makefile
  cmd/codecovgen/metadata.yaml
  cmd/githubgen/allowlist.txt
  exporter/nopexporter/README.md
  exporter/nopexporter/metadata.yaml
  internal/common/metadata.yaml
  internal/coreinternal/metadata.yaml
  processor/adaptivetelemetryprocessor/README.md
  processor/adaptivetelemetryprocessor/metadata.yaml
  receiver/nopreceiver/README.md
  receiver/nopreceiver/metadata.yaml
  testbed/metadata.yaml
Due: exporter_nop, processor_adaptivetelemetry, receiver_nop, testbed

refactor: ingest multi-metric summary irrespective of threshold and composite score
  processor/adaptivetelemetryprocessor/process_metrics.go
Due: processor_adaptivetelemetry

refactor: Add logger in updateProcessATPAttribute()
  processor/adaptivetelemetryprocessor/process_metrics.go
  processor/adaptivetelemetryprocessor/resource_utils.go
  processor/adaptivetelemetryprocessor/resource_utils_test.go
  processor/adaptivetelemetryprocessor/threshold_ingestion.go
Due: processor_adaptivetelemetry

fix: Move all insigt data into proecess.atp attribute
  processor/adaptivetelemetryprocessor/process_metrics.go
Due: processor_adaptivetelemetry

refactor: Consolidate filtering_summary into process.atp attribute for targeted resources
  processor/adaptivetelemetryprocessor/process_metrics.go
Due: processor_adaptivetelemetry

fix: Remove unused constants and fix unused parameter warning
  processor/adaptivetelemetryprocessor/constants.go
  processor/adaptivetelemetryprocessor/process_metrics.go
Due: processor_adaptivetelemetry

refactor: remove LICENSING file, minor ATP fixes (#142)
  LICENSING
  processor/adaptivetelemetryprocessor/constants.go
  processor/adaptivetelemetryprocessor/process_metrics.go
  processor/adaptivetelemetryprocessor/resource_utils.go
  processor/adaptivetelemetryprocessor/resource_utils_test.go
  processor/adaptivetelemetryprocessor/threshold_ingestion.go
Due: processor_adaptivetelemetry

refacotr: remove unused variable and add includeReason for nonTargetted resource
  processor/adaptivetelemetryprocessor/constants.go
  processor/adaptivetelemetryprocessor/process_metrics.go
Due: processor_adaptivetelemetry

fix: handle stage names(inclusion reason) flow to ensure it is never empty (#145)
  processor/adaptivetelemetryprocessor/constants.go
  processor/adaptivetelemetryprocessor/process_metrics.go
Due: processor_adaptivetelemetry

fix: Do not fail symlinks check because of permission
  processor/adaptivetelemetryprocessor/storage.go
Due: processor_adaptivetelemetry

Refactor/minor fixes2 (#146)
  processor/adaptivetelemetryprocessor/storage.go
Due: processor_adaptivetelemetry
