Repository newrelic/nrdot-collector-components: changes, and which Codecov flags are due for each by the changed paths.
All: exporter_nop, processor_adaptivetelemetry, receiver_nop, testbed

chore: migrate to canonical go tool directive approach, remove install-tools
  .github/workflows/build-and-test-arm.yml
  .github/workflows/build-and-test-darwin.yaml
  .github/workflows/build-and-test-windows.yml
  .github/workflows/build-and-test.yml
  .github/workflows/check-codeowners.yaml
  .github/workflows/e2e-tests-windows.yml
  .github/workflows/lint-workflow-files.yml
  .github/workflows/scoped-test.yaml
  .github/workflows/tidy-dependencies.yml
  Makefile
  Makefile.Common
  exporter/nopexporter/doc.go
  processor/adaptivetelemetryprocessor/doc.go
  receiver/nopreceiver/doc.go
Due: exporter_nop, processor_adaptivetelemetry, receiver_nop

chore: remove tool variable prerequisites from make targets, matching contrib pattern
  Makefile.Common
Due: none

chore: remove remaining tool variable prerequisites from Makefile and Makefile.Common
  Makefile
  Makefile.Common
Due: none

chore: remove install-tools target entirely
  Makefile
  Makefile.Common
Due: none

Update .github/CODEOWNERS
  .github/CODEOWNERS
Due: none

Update extension/usecaseextension/internal/source/static_test.go
  extension/usecaseextension/internal/source/static_test.go
Due: none

Update extension/usecaseextension/README.md
  extension/usecaseextension/README.md
Due: none

Update extension/usecaseextension/internal/source/static.go
  extension/usecaseextension/internal/source/static.go
Due: none

address comments pt 1
  cmd/nrdotcol/builder-config.yaml
  cmd/oteltestbedcol/builder-config.yaml
  extension/usecaseextension/README.md
  extension/usecaseextension/config.go
  extension/usecaseextension/config_test.go
  extension/usecaseextension/extension.go
  extension/usecaseextension/extension_test.go
  extension/usecaseextension/factory_test.go
  extension/usecaseextension/internal/source/static.go
  extension/usecaseextension/internal/source/static_test.go
  extension/usecaseextension/metadata.yaml
  extension/usecaseextension/roundtripper_test.go
  extension/usecaseextension/testdata/config.yaml
Due: none

address comments pt2
  .gitignore
  extension/usecaseextension/README.md
  extension/usecaseextension/config.go
  extension/usecaseextension/config_test.go
  extension/usecaseextension/coverage.out
  extension/usecaseextension/extension.go
  extension/usecaseextension/extension_test.go
  extension/usecaseextension/factory_test.go
  extension/usecaseextension/internal/source/static_test.go
  extension/usecaseextension/metadata.yaml
  extension/usecaseextension/roundtripper_test.go
  extension/usecaseextension/testdata/config.yaml
Due: none

remove random replace statement
  extension/usecaseextension/internal/metadata/generated_status.go
  internal/coreinternal/go.mod
Due: none

address breaking checks
  .github/CODEOWNERS
  extension/usecaseextension/config.go
  extension/usecaseextension/config_test.go
  extension/usecaseextension/extension.go
  extension/usecaseextension/extension_test.go
  extension/usecaseextension/factory_test.go
  extension/usecaseextension/internal/source/static.go
  extension/usecaseextension/internal/source/static_test.go
  extension/usecaseextension/roundtripper_test.go
Due: none

chore: add missing MDATAGEN_METADATA_YAML default
  Makefile.Common
Due: none

remove redundant usecase/2 config
  extension/usecaseextension/config_test.go
  extension/usecaseextension/testdata/config.yaml
Due: none

Update cmd/oteltestbedcol/builder-config.yaml
  cmd/oteltestbedcol/builder-config.yaml
Due: none

Update cmd/nrdotcol/builder-config.yaml
  cmd/nrdotcol/builder-config.yaml
Due: none

update stability
  extension/usecaseextension/README.md
  extension/usecaseextension/factory.go
Due: none

chore: document why tools.go blank imports are needed alongside tool directive
  internal/tools/tools.go
Due: none

docs: fix readme
  extension/usecaseextension/README.md
Due: none

chore: apply code-simplifier feedback — remove stale prerequisites, dead targets, duplicate step
  .github/workflows/build-and-test-windows.yml
  .github/workflows/scoped-test.yaml
  Makefile
  Makefile.Common
  testbed/Makefile
Due: testbed

docs: fix readme 2
  extension/usecaseextension/README.md
Due: none

ci: skip link check for auto-generated team link
  .github/lychee.toml
Due: none

feat: add usecaseextension (#292)
  .chloggen/config.yaml
  .codecov.yml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/beta_stability.yaml
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  .github/component_labels.txt
  .github/lychee.toml
  .gitignore
  cmd/nrdotcol/builder-config.yaml
  cmd/oteltestbedcol/builder-config.yaml
  extension/usecaseextension/Makefile
  extension/usecaseextension/README.md
  extension/usecaseextension/THIRD_PARTY_NOTICES.md
  extension/usecaseextension/config.go
  extension/usecaseextension/config_test.go
  extension/usecaseextension/doc.go
  extension/usecaseextension/extension.go
  extension/usecaseextension/extension_test.go
  extension/usecaseextension/factory.go
  extension/usecaseextension/factory_test.go
  extension/usecaseextension/generated_component_test.go
  extension/usecaseextension/generated_package_test.go
  extension/usecaseextension/go.mod
  extension/usecaseextension/go.sum
  extension/usecaseextension/internal/metadata/generated_status.go
  extension/usecaseextension/internal/source/package_test.go
  extension/usecaseextension/internal/source/source.go
  extension/usecaseextension/internal/source/static.go
  extension/usecaseextension/internal/source/static_test.go
  extension/usecaseextension/metadata.yaml
  extension/usecaseextension/roundtripper.go
  extension/usecaseextension/roundtripper_test.go
  extension/usecaseextension/testdata/config.yaml
  internal/assets/license/overrides.jsonl
  internal/tidylist/tidylist.txt
  versions.yaml
Due: none

fix: update otlpreceiver.Config field access for v0.151.0 API change
  testbed/testbed/receivers.go
Due: testbed

ci: use RELEASE_TOKEN in prepare-release and push-release-tags workflows
  .github/workflows/prepare-release.yml
  .github/workflows/push-release-tags.yml
Due: none

chore(deps): upgrade multimod to v0.30.0 and go-git/go-billy to match otel-contrib
  internal/tools/go.mod
  internal/tools/go.sum
Due: none

chore: upgrade multimod/go-git and use RELEASE_TOKEN in release workflows (#309)
  .github/workflows/prepare-release.yml
  .github/workflows/push-release-tags.yml
  internal/tools/go.mod
  internal/tools/go.sum
Due: none

chore: suppress unfixed aws-sdk-go v1 vulns in testbed via osv-scanner.toml
  testbed/osv-scanner.toml
Due: testbed

chore: suppress unfixed aws-sdk-go v1 vulns in testbed via osv-scanner.toml (#310)
  testbed/osv-scanner.toml
Due: testbed

chore: use local testbed where possible and fix api calls for upstream v0.154.0
  testbed/correctnesstests/connectors/correctness_test.go
  testbed/correctnesstests/metrics/correctness_test_case.go
  testbed/correctnesstests/metrics/metrics_correctness_test.go
  testbed/correctnesstests/metrics/metrics_test_harness.go
  testbed/correctnesstests/traces/correctness_test.go
  testbed/correctnesstests/utils.go
  testbed/go.mod
  testbed/go.sum
  testbed/stabilitytests/trace_test.go
  testbed/tests/batcher_test.go
  testbed/tests/e2e_test.go
  testbed/tests/log_test.go
  testbed/tests/resource_processor_test.go
  testbed/tests/syslog_integration_test.go
  testbed/tests/trace_test.go
Due: testbed

chore: update third-party notices
  testbed/THIRD_PARTY_NOTICES.md
Due: testbed

chore: update all imports to be local-only
  testbed/correctnesstests/connectors/correctness_test.go
  testbed/correctnesstests/metrics/correctness_test_case.go
  testbed/correctnesstests/metrics/metrics_correctness_test.go
  testbed/correctnesstests/metrics/metrics_test_harness.go
  testbed/correctnesstests/metrics/testdata/generated_pict_pairs_metrics_pipeline.txt
  testbed/correctnesstests/metrics/testdata/pict_input_metrics_pipeline.txt
  testbed/correctnesstests/traces/correctness_test.go
  testbed/correctnesstests/traces/testdata/generated_pict_pairs_traces_pipeline.txt
  testbed/correctnesstests/traces/testdata/pict_input_traces_pipeline.txt
  testbed/correctnesstests/utils.go
  testbed/datasenders/fluent.go
  testbed/datasenders/k8s.go
  testbed/datasenders/tcpudp.go
  testbed/stabilitytests/metric_test.go
  testbed/stabilitytests/trace_test.go
  testbed/tests/batcher_test.go
  testbed/tests/e2e_test.go
  testbed/tests/log_test.go
  testbed/tests/metric_test.go
  testbed/tests/resource_processor_test.go
  testbed/tests/scenarios.go
  testbed/tests/syslog_integration_test.go
  testbed/tests/trace_test.go
Due: testbed

chore: go mod tidy && update third party notices
  testbed/THIRD_PARTY_NOTICES.md
  testbed/go.mod
  testbed/go.sum
Due: testbed

chore: make gci
  testbed/correctnesstests/connectors/correctness_test.go
  testbed/correctnesstests/metrics/correctness_test_case.go
  testbed/correctnesstests/metrics/metrics_correctness_test.go
  testbed/correctnesstests/metrics/metrics_test_harness.go
  testbed/correctnesstests/traces/correctness_test.go
  testbed/correctnesstests/utils.go
  testbed/datasenders/fluent.go
  testbed/datasenders/k8s.go
  testbed/datasenders/tcpudp.go
  testbed/stabilitytests/metric_test.go
  testbed/stabilitytests/trace_test.go
  testbed/tests/metric_test.go
  testbed/tests/scenarios.go
Due: testbed

chore: restore and prune some stability tests
  testbed/THIRD_PARTY_NOTICES.md
  testbed/go.mod
  testbed/tests/batcher_test.go
  testbed/tests/e2e_test.go
  testbed/tests/log_test.go
  testbed/tests/resource_processor_test.go
  testbed/tests/trace_test.go
Due: testbed

chore: update utils and remove unused connectors metrics tests
  testbed/THIRD_PARTY_NOTICES.md
  testbed/correctnesstests/connectors/correctness_test.go
  testbed/correctnesstests/utils.go
  testbed/go.mod
  testbed/go.sum
Due: testbed

[chore] update testbed to only import from local repository (#317)
  testbed/THIRD_PARTY_NOTICES.md
  testbed/correctnesstests/connectors/correctness_test.go
  testbed/correctnesstests/metrics/correctness_test_case.go
  testbed/correctnesstests/metrics/metrics_correctness_test.go
  testbed/correctnesstests/metrics/metrics_test_harness.go
  testbed/correctnesstests/metrics/testdata/generated_pict_pairs_metrics_pipeline.txt
  testbed/correctnesstests/metrics/testdata/pict_input_metrics_pipeline.txt
  testbed/correctnesstests/traces/correctness_test.go
  testbed/correctnesstests/traces/testdata/generated_pict_pairs_traces_pipeline.txt
  testbed/correctnesstests/traces/testdata/pict_input_traces_pipeline.txt
  testbed/correctnesstests/utils.go
  testbed/datasenders/fluent.go
  testbed/datasenders/k8s.go
  testbed/datasenders/tcpudp.go
  testbed/go.mod
  testbed/go.sum
  testbed/stabilitytests/metric_test.go
  testbed/stabilitytests/trace_test.go
  testbed/tests/batcher_test.go
  testbed/tests/e2e_test.go
  testbed/tests/log_test.go
  testbed/tests/metric_test.go
  testbed/tests/resource_processor_test.go
  testbed/tests/scenarios.go
  testbed/tests/syslog_integration_test.go
  testbed/tests/trace_test.go
Due: testbed

[chore] Prepare release 0.154.0 (#318)
  CHANGELOG-API.md
  CHANGELOG.md
  cmd/nrdotcol/builder-config.yaml
  cmd/oteltestbedcol/builder-config.yaml
  exporter/nopexporter/go.mod
  exporter/nopexporter/go.sum
  extension/usecaseextension/go.mod
  extension/usecaseextension/go.sum
  internal/common/go.mod
  internal/common/go.sum
  internal/coreinternal/go.mod
  internal/coreinternal/go.sum
  internal/tools/go.mod
  internal/tools/go.sum
  processor/adaptivetelemetryprocessor/go.mod
  processor/adaptivetelemetryprocessor/go.sum
  receiver/nopreceiver/go.mod
  receiver/nopreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
  versions.yaml
Due: exporter_nop, processor_adaptivetelemetry, receiver_nop, testbed

Path conditions:
  exporter_nop: any of: exporter/nopexporter/**, but not: */**/third_party/**/*
  processor_adaptivetelemetry: any of: processor/adaptivetelemetryprocessor/**, but not: */**/third_party/**/*
  receiver_nop: any of: receiver/nopreceiver/**, but not: */**/third_party/**/*
  testbed: any of: testbed/**, but not: */**/third_party/**/*
