Repository newrelic/nrdot-collector-components: changes, and which Codecov flags are due for each by the changed paths.
All: exporter_nop, processor_adaptivetelemetry, receiver_nop, testbed

test: add fuzz test for process.atp JSON decode (#348)
  processor/adaptivetelemetryprocessor/resource_utils_fuzz_test.go
  processor/adaptivetelemetryprocessor/storage_fuzz_test.go
Due: processor_adaptivetelemetry

ci: pin renovate config validator dependency by hash
  .github/workflows/lint-renovate-config.yaml
Due: none

ci: pin renovate config validator dependency by hash (#349)
  .github/workflows/lint-renovate-config.yaml
Due: none

fix(usecaseextension): use confmap.Validate instead of removed xconfmap.Validate
  extension/usecaseextension/config_test.go
  extension/usecaseextension/go.mod
  extension/usecaseextension/go.sum
Due: none

chore(usecaseextension): regenerate third-party notices
  extension/usecaseextension/THIRD_PARTY_NOTICES.md
Due: none

[chore] Prepare release 0.158.0 (#346)
  CHANGELOG-API.md
  CHANGELOG.md
  cmd/nrdotcol/builder-config.yaml
  cmd/oteltestbedcol/builder-config.yaml
  exporter/nopexporter/go.mod
  exporter/nopexporter/go.sum
  extension/usecaseextension/THIRD_PARTY_NOTICES.md
  extension/usecaseextension/config_test.go
  extension/usecaseextension/go.mod
  extension/usecaseextension/go.sum
  internal/buildscripts/modules
  internal/common/go.mod
  internal/common/go.sum
  internal/coreinternal/go.mod
  internal/coreinternal/go.sum
  internal/tools/go.mod
  internal/tools/go.sum
  processor/adaptivetelemetryprocessor/go.mod
  processor/adaptivetelemetryprocessor/go.sum
  receiver/nopreceiver/go.mod
  receiver/nopreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
  versions.yaml
Due: exporter_nop, processor_adaptivetelemetry, receiver_nop, testbed

[chore] Prepare release 0.159.0 (#354)
  CHANGELOG-API.md
  CHANGELOG.md
  cmd/nrdotcol/builder-config.yaml
  cmd/oteltestbedcol/builder-config.yaml
  exporter/nopexporter/go.mod
  exporter/nopexporter/go.sum
  extension/usecaseextension/go.mod
  extension/usecaseextension/go.sum
  internal/common/go.mod
  internal/common/go.sum
  internal/coreinternal/go.mod
  internal/coreinternal/go.sum
  internal/tools/go.mod
  internal/tools/go.sum
  processor/adaptivetelemetryprocessor/go.mod
  processor/adaptivetelemetryprocessor/go.sum
  receiver/nopreceiver/go.mod
  receiver/nopreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
  versions.yaml
Due: exporter_nop, processor_adaptivetelemetry, receiver_nop, testbed

Revert "[chore] Prepare release 0.159.0 (#354)"
  CHANGELOG-API.md
  CHANGELOG.md
  cmd/nrdotcol/builder-config.yaml
  cmd/oteltestbedcol/builder-config.yaml
  exporter/nopexporter/go.mod
  exporter/nopexporter/go.sum
  extension/usecaseextension/go.mod
  extension/usecaseextension/go.sum
  internal/common/go.mod
  internal/common/go.sum
  internal/coreinternal/go.mod
  internal/coreinternal/go.sum
  internal/tools/go.mod
  internal/tools/go.sum
  processor/adaptivetelemetryprocessor/go.mod
  processor/adaptivetelemetryprocessor/go.sum
  receiver/nopreceiver/go.mod
  receiver/nopreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
  versions.yaml
Due: exporter_nop, processor_adaptivetelemetry, receiver_nop, testbed

chore: GO-2026-6253, GO-2026-6354, GO-2026-6355
  internal/coreinternal/go.mod
  internal/coreinternal/go.sum
Due: none

chore: run go mod tidy for testbed
  testbed/go.mod
  testbed/go.sum
Due: testbed

chore: add chlog entry
  .chloggen/agarvin_fix-cves.yaml
Due: none

chore: pass valid component name
  .chloggen/agarvin_fix-cves.yaml
Due: none

chore: GO-2026-6253, GO-2026-6354, GO-2026-6355 and revert unsuccessful 0.159.0 version bump (#354) (#361)
  .chloggen/agarvin_fix-cves.yaml
  CHANGELOG-API.md
  CHANGELOG.md
  cmd/nrdotcol/builder-config.yaml
  cmd/oteltestbedcol/builder-config.yaml
  exporter/nopexporter/go.mod
  exporter/nopexporter/go.sum
  extension/usecaseextension/go.mod
  extension/usecaseextension/go.sum
  internal/common/go.mod
  internal/common/go.sum
  internal/coreinternal/go.mod
  internal/coreinternal/go.sum
  internal/tools/go.mod
  internal/tools/go.sum
  processor/adaptivetelemetryprocessor/go.mod
  processor/adaptivetelemetryprocessor/go.sum
  receiver/nopreceiver/go.mod
  receiver/nopreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
  versions.yaml
Due: exporter_nop, processor_adaptivetelemetry, receiver_nop, testbed

[chore] Prepare release 0.159.0 (#363)
  .chloggen/agarvin_fix-cves.yaml
  CHANGELOG-API.md
  CHANGELOG.md
  cmd/nrdotcol/builder-config.yaml
  cmd/oteltestbedcol/builder-config.yaml
  exporter/nopexporter/go.mod
  exporter/nopexporter/go.sum
  extension/usecaseextension/go.mod
  extension/usecaseextension/go.sum
  internal/common/go.mod
  internal/common/go.sum
  internal/coreinternal/go.mod
  internal/coreinternal/go.sum
  internal/tools/go.mod
  internal/tools/go.sum
  processor/adaptivetelemetryprocessor/go.mod
  processor/adaptivetelemetryprocessor/go.sum
  receiver/nopreceiver/go.mod
  receiver/nopreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
  versions.yaml
Due: exporter_nop, processor_adaptivetelemetry, receiver_nop, testbed

[chore] Prepare release 0.160.0 (#364)
  CHANGELOG-API.md
  CHANGELOG.md
  cmd/nrdotcol/builder-config.yaml
  cmd/oteltestbedcol/builder-config.yaml
  exporter/nopexporter/go.mod
  exporter/nopexporter/go.sum
  extension/usecaseextension/go.mod
  extension/usecaseextension/go.sum
  internal/common/go.mod
  internal/common/go.sum
  internal/coreinternal/go.mod
  internal/coreinternal/go.sum
  internal/tools/go.mod
  internal/tools/go.sum
  processor/adaptivetelemetryprocessor/go.mod
  processor/adaptivetelemetryprocessor/go.sum
  receiver/nopreceiver/go.mod
  receiver/nopreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
  versions.yaml
Due: exporter_nop, processor_adaptivetelemetry, receiver_nop, testbed

[chore] Prepare release 0.161.0 (#365)
  CHANGELOG-API.md
  CHANGELOG.md
  cmd/nrdotcol/builder-config.yaml
  cmd/oteltestbedcol/builder-config.yaml
  exporter/nopexporter/go.mod
  exporter/nopexporter/go.sum
  extension/usecaseextension/go.mod
  extension/usecaseextension/go.sum
  internal/common/go.mod
  internal/common/go.sum
  internal/coreinternal/go.mod
  internal/coreinternal/go.sum
  internal/tools/go.mod
  internal/tools/go.sum
  processor/adaptivetelemetryprocessor/go.mod
  processor/adaptivetelemetryprocessor/go.sum
  receiver/nopreceiver/go.mod
  receiver/nopreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
  versions.yaml
Due: exporter_nop, processor_adaptivetelemetry, receiver_nop, testbed

chore: drop CII-Best-Practices scorecard alert
  .github/workflows/scorecard.yml
Due: none

chore: add flag to skip context propagation test
  processor/adaptivetelemetryprocessor/metadata.yaml
Due: processor_adaptivetelemetry

chore: run make generate after metadata change
  processor/adaptivetelemetryprocessor/README.md
  processor/adaptivetelemetryprocessor/generated_component_test.go
Due: processor_adaptivetelemetry

chore: add missed file
  processor/adaptivetelemetryprocessor/README.md
Due: processor_adaptivetelemetry

[chore] Prepare release 0.162.0 (#372)
  CHANGELOG-API.md
  CHANGELOG.md
  cmd/nrdotcol/builder-config.yaml
  cmd/oteltestbedcol/builder-config.yaml
  exporter/nopexporter/go.mod
  exporter/nopexporter/go.sum
  extension/usecaseextension/go.mod
  extension/usecaseextension/go.sum
  internal/common/go.mod
  internal/common/go.sum
  internal/coreinternal/go.mod
  internal/coreinternal/go.sum
  internal/tools/go.mod
  internal/tools/go.sum
  processor/adaptivetelemetryprocessor/go.mod
  processor/adaptivetelemetryprocessor/go.sum
  processor/adaptivetelemetryprocessor/metadata.yaml
  receiver/nopreceiver/go.mod
  receiver/nopreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
  versions.yaml
Due: exporter_nop, processor_adaptivetelemetry, receiver_nop, testbed

fix: pass processor.Settings through to newProcessor for context propagation
  processor/adaptivetelemetryprocessor/factory.go
  processor/adaptivetelemetryprocessor/factory_test.go
  processor/adaptivetelemetryprocessor/processor_init.go
  processor/adaptivetelemetryprocessor/processor_test.go
Due: processor_adaptivetelemetry

fix: replace context.Background() with t.Context() in tests
  processor/adaptivetelemetryprocessor/factory_test.go
  processor/adaptivetelemetryprocessor/processor_test.go
Due: processor_adaptivetelemetry

chore: add changelog entry for ATP context propagation fix
  .chloggen/fix-atp-context-propagation.yaml
Due: none

chore: fix changelog component name
  .chloggen/fix-atp-context-propagation.yaml
Due: none

chore: add issue number to changelog entry
  .chloggen/fix-atp-context-propagation.yaml
Due: none

chore: fix changelog entry format
  .chloggen/fix-atp-context-propagation.yaml
Due: none

chore: update changelog issue number to 373
  .chloggen/fix-atp-context-propagation.yaml
Due: none

fix: remove skip_context_propagation flag and fix context pass-through in forwardMetricsToNextConsumer
  processor/adaptivetelemetryprocessor/README.md
  processor/adaptivetelemetryprocessor/consume_metrics.go
  processor/adaptivetelemetryprocessor/generated_component_test.go
  processor/adaptivetelemetryprocessor/generated_package_test.go
  processor/adaptivetelemetryprocessor/metadata.yaml
Due: processor_adaptivetelemetry

chore: apply gofumpt/goimports formatting from make generate
  processor/adaptivetelemetryprocessor/README.md
  processor/adaptivetelemetryprocessor/generated_package_test.go
Due: processor_adaptivetelemetry

chore: change codeql to always
  .github/workflows/build-and-test.yml
Due: none

chore: temporarily change CodeQL to always run
  .github/workflows/build-and-test.yml
Due: none

fix: pass processor.Settings through to newProcessor for context prop… (#373)
  .chloggen/fix-atp-context-propagation.yaml
  processor/adaptivetelemetryprocessor/consume_metrics.go
  processor/adaptivetelemetryprocessor/factory.go
  processor/adaptivetelemetryprocessor/factory_test.go
  processor/adaptivetelemetryprocessor/generated_component_test.go
  processor/adaptivetelemetryprocessor/metadata.yaml
  processor/adaptivetelemetryprocessor/processor_init.go
  processor/adaptivetelemetryprocessor/processor_test.go
Due: processor_adaptivetelemetry

[chore] Prepare release 0.162.1 (#375)
  .chloggen/fix-atp-context-propagation.yaml
  CHANGELOG-API.md
  CHANGELOG.md
  cmd/nrdotcol/builder-config.yaml
  cmd/oteltestbedcol/builder-config.yaml
  internal/tools/go.mod
  testbed/go.mod
  versions.yaml
Due: testbed

Path conditions:
  exporter_nop: any of: exporter/nopexporter/**, but not: */**/third_party/**/*
  processor_adaptivetelemetry: any of: processor/adaptivetelemetryprocessor/**, but not: */**/third_party/**/*
  receiver_nop: any of: receiver/nopreceiver/**, but not: */**/third_party/**/*
  testbed: any of: testbed/**, but not: */**/third_party/**/*
