Repository newrelic/nrdot-collector-components: changes, and which Codecov flags are due for each by the changed paths.
All: exporter_nop, processor_adaptivetelemetry, receiver_nop, testbed

ran 'make genlabels'
  .github/component_labels.txt
Due: none

ran 'make gencodecov'
  .codecov.yml
Due: none

ran 'make generate'
  extension/usecasesetterextension/extension.go
  extension/usecasesetterextension/extension_test.go
  extension/usecasesetterextension/factory.go
  extension/usecasesetterextension/roundtripper.go
  extension/usecasesetterextension/roundtripper_test.go
Due: none

ran 'make checks'
  versions.yaml
Due: none

fix linting
  .github/workflows/scripts/update-golang.sh
  extension/usecasesetterextension/config.go
  extension/usecasesetterextension/config_test.go
  extension/usecasesetterextension/doc.go
  extension/usecasesetterextension/extension.go
  extension/usecasesetterextension/extension_test.go
  extension/usecasesetterextension/factory.go
  extension/usecasesetterextension/factory_test.go
  extension/usecasesetterextension/internal/source/attribute.go
  extension/usecasesetterextension/internal/source/attribute_test.go
  extension/usecasesetterextension/internal/source/context.go
  extension/usecasesetterextension/internal/source/context_test.go
  extension/usecasesetterextension/internal/source/package_test.go
  extension/usecasesetterextension/internal/source/source.go
  extension/usecasesetterextension/internal/source/static.go
  extension/usecasesetterextension/internal/source/static_test.go
  extension/usecasesetterextension/roundtripper.go
  extension/usecasesetterextension/roundtripper_test.go
  internal/assets/license/overrides.jsonl
Due: none

fix 3rd party notice
  extension/usecasesetterextension/THIRD_PARTY_NOTICES.md
Due: none

change nil to http.NoBody
  extension/usecasesetterextension/roundtripper_test.go
Due: none

expand testing coverage
  extension/usecasesetterextension/extension_test.go
  extension/usecasesetterextension/internal/source/attribute_test.go
  extension/usecasesetterextension/roundtripper_test.go
Due: none

remove unused variable
  extension/usecasesetterextension/roundtripper_test.go
Due: none

remove underscore
  extension/usecasesetterextension/roundtripper_test.go
Due: none

fix formatting
  extension/usecasesetterextension/roundtripper_test.go
Due: none

remove metadata
  extension/usecasesetterextension/.env
  extension/usecasesetterextension/.tmp/otel-config.yaml
  extension/usecasesetterextension/config_test.go
  extension/usecasesetterextension/coverage.out
  extension/usecasesetterextension/doc.go
  extension/usecasesetterextension/factory.go
  extension/usecasesetterextension/generated_component_test.go
  extension/usecasesetterextension/generated_package_test.go
  extension/usecasesetterextension/internal/metadata/generated_status.go
  extension/usecasesetterextension/metadata.yaml
Due: none

fix(deps): update dependency simple-git to v3.36.0 [security] (#202)
  .github/workflows/configs/build-and-test/package-lock.json
  .github/workflows/configs/build-and-test/package.json
Due: none

chore: upgrade testcontainers to v0.42.0, drop docker/docker, fix golang.org/x/tools replace hack
  .govulncheck-exceptions
  internal/coreinternal/go.mod
  internal/coreinternal/go.sum
  internal/coreinternal/scraperinttest/scraperint.go
  internal/tools/go.mod
  internal/tools/go.sum
  internal/tools/tools.go
  renovate.json
Due: none

remove fromattribute and fromcontext configs, rename to usecaseextension
  .chloggen/config.yaml
  cmd/nrdotcol/builder-config.yaml
  cmd/oteltestbedcol/builder-config.yaml
  extension/usecasesetterextension/.env
  extension/usecasesetterextension/.tmp/otel-config.yaml
  extension/usecasesetterextension/Makefile
  extension/usecasesetterextension/README.md
  extension/usecasesetterextension/THIRD_PARTY_NOTICES.md
  extension/usecasesetterextension/config.go
  extension/usecasesetterextension/config_test.go
  extension/usecasesetterextension/coverage.out
  extension/usecasesetterextension/doc.go
  extension/usecasesetterextension/extension.go
  extension/usecasesetterextension/extension_test.go
  extension/usecasesetterextension/factory.go
  extension/usecasesetterextension/factory_test.go
  extension/usecasesetterextension/go.mod
  extension/usecasesetterextension/go.sum
  extension/usecasesetterextension/internal/source/attribute.go
  extension/usecasesetterextension/internal/source/attribute_test.go
  extension/usecasesetterextension/internal/source/context.go
  extension/usecasesetterextension/internal/source/context_test.go
  extension/usecasesetterextension/internal/source/package_test.go
  extension/usecasesetterextension/internal/source/source.go
  extension/usecasesetterextension/internal/source/static.go
  extension/usecasesetterextension/internal/source/static_test.go
  extension/usecasesetterextension/roundtripper.go
  extension/usecasesetterextension/roundtripper_test.go
  extension/usecasesetterextension/testdata/config.yaml
  versions.yaml
Due: none

add renamed files
  extension/usecaseextension/.env
  extension/usecaseextension/.tmp/otel-config.yaml
  extension/usecaseextension/Makefile
  extension/usecaseextension/README.md
  extension/usecaseextension/THIRD_PARTY_NOTICES.md
  extension/usecaseextension/config.go
  extension/usecaseextension/config_test.go
  extension/usecaseextension/coverage.out
  extension/usecaseextension/doc.go
  extension/usecaseextension/extension.go
  extension/usecaseextension/extension_test.go
  extension/usecaseextension/factory.go
  extension/usecaseextension/factory_test.go
  extension/usecaseextension/go.mod
  extension/usecaseextension/go.sum
  extension/usecaseextension/internal/source/package_test.go
  extension/usecaseextension/internal/source/source.go
  extension/usecaseextension/internal/source/static.go
  extension/usecaseextension/internal/source/static_test.go
  extension/usecaseextension/roundtripper.go
  extension/usecaseextension/roundtripper_test.go
  extension/usecaseextension/testdata/config.yaml
Due: none

chore: run gotidy after coreinternal dep updates
  testbed/go.mod
  testbed/go.sum
Due: testbed

chore: regenerate third-party notices, add missing license header
  .github/workflows/scripts/update-golang.sh
  internal/coreinternal/THIRD_PARTY_NOTICES.md
  internal/tools/THIRD_PARTY_NOTICES.md
Due: none

make checks
  .codecov.yml
  .github/CODEOWNERS
  .github/component_labels.txt
  extension/usecaseextension/config.go
  extension/usecaseextension/config_test.go
  extension/usecaseextension/doc.go
  extension/usecaseextension/extension_test.go
  extension/usecaseextension/go.mod
  extension/usecaseextension/go.sum
  extension/usecaseextension/roundtripper_test.go
  internal/assets/license/overrides.jsonl
  internal/tidylist/tidylist.txt
Due: none

add back metadata
  extension/usecaseextension/generated_component_test.go
  extension/usecaseextension/generated_package_test.go
  extension/usecaseextension/internal/metadata/generated_status.go
  extension/usecaseextension/metadata.yaml
Due: none

chore: ensure mod download before licence detection, fix missing newline
  .github/workflows/scripts/update-golang.sh
  Makefile.Common
Due: none

update 3rd party notice
  extension/usecaseextension/THIRD_PARTY_NOTICES.md
Due: none

chore: fix staticcheck QF1012 in testbed/datasenders/tcpudp.go
  testbed/datasenders/tcpudp.go
Due: testbed

update codeowners and govulncheck
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/beta_stability.yaml
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
Due: none

fix vulns
  internal/coreinternal/go.mod
  internal/coreinternal/go.sum
Due: none

fix vuln (attempt 2)
  internal/coreinternal/go.mod
Due: none

chore(renovate): enable OSV vulnerability alerts and gomodTidy post-update
  renovate.json
Due: none

[chore] upgrade testcontainers to v0.42.0, drop docker/docker, fix golang.org/x/tools replace hack (#301)
  .github/workflows/scripts/update-golang.sh
  .govulncheck-exceptions
  Makefile.Common
  internal/coreinternal/THIRD_PARTY_NOTICES.md
  internal/coreinternal/go.mod
  internal/coreinternal/go.sum
  internal/coreinternal/scraperinttest/scraperint.go
  internal/tools/THIRD_PARTY_NOTICES.md
  internal/tools/go.mod
  internal/tools/go.sum
  internal/tools/tools.go
  renovate.json
  testbed/datasenders/tcpudp.go
  testbed/go.mod
  testbed/go.sum
Due: testbed

fix(deps): update module golang.org/x/mod to v0.36.0 (#300)
  cmd/codecovgen/go.mod
  cmd/codecovgen/go.sum
Due: none

fix(deps): update module github.com/shirou/gopsutil/v4 to v4.26.4 (#298)
  testbed/go.mod
  testbed/go.sum
Due: testbed

[chore] bump gofumpt to v0.10.0 and reformat
  internal/common/docker/images.go
  internal/coreinternal/consumerretry/logs.go
  internal/coreinternal/scraperinttest/scraperint.go
  internal/tools/go.mod
  internal/tools/go.sum
  processor/adaptivetelemetryprocessor/storage_path_selection_test.go
  processor/adaptivetelemetryprocessor/storage_validation_test.go
  receiver/nopreceiver/factory.go
  testbed/correctnesstests/connectors/correctness_test.go
  testbed/correctnesstests/traces/correctness_test.go
  testbed/testbed/results.go
  testbed/tests/log_test.go
  testbed/tests/resource_processor_test.go
Due: processor_adaptivetelemetry, receiver_nop, testbed

remove temp files
  extension/usecaseextension/.env
  extension/usecaseextension/.tmp/otel-config.yaml
Due: none

[chore] bump gofumpt to v0.10.0 and reformat (#302)
  internal/common/docker/images.go
  internal/coreinternal/consumerretry/logs.go
  internal/coreinternal/scraperinttest/scraperint.go
  internal/tools/go.mod
  internal/tools/go.sum
  processor/adaptivetelemetryprocessor/storage_path_selection_test.go
  processor/adaptivetelemetryprocessor/storage_validation_test.go
  receiver/nopreceiver/factory.go
  testbed/correctnesstests/connectors/correctness_test.go
  testbed/correctnesstests/traces/correctness_test.go
  testbed/testbed/results.go
  testbed/tests/log_test.go
  testbed/tests/resource_processor_test.go
Due: processor_adaptivetelemetry, receiver_nop, testbed

fix(deps): update module google.golang.org/grpc to v1.81.1 (#294)
  internal/coreinternal/go.mod
  internal/coreinternal/go.sum
  testbed/go.mod
  testbed/go.sum
Due: testbed

fix(deps): update module github.com/elastic/lunes to v0.2.2 (#297)
  internal/coreinternal/go.mod
  internal/coreinternal/go.sum
  testbed/go.mod
  testbed/go.sum
Due: testbed

fix(deps): update module go.uber.org/zap to v1.28.0 (#293)
  internal/common/go.mod
  internal/common/go.sum
  internal/coreinternal/go.mod
  internal/coreinternal/go.sum
  processor/adaptivetelemetryprocessor/go.mod
  processor/adaptivetelemetryprocessor/go.sum
  receiver/nopreceiver/go.mod
  receiver/nopreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Due: processor_adaptivetelemetry, receiver_nop, testbed

chore(deps): update alpine:latest docker digest to 5b10f43 (#204)
  cmd/nrdotcol/Dockerfile
Due: none

[chore] migrate to tool directive + explicit install-tools for go-junit-report v2
  Makefile.Common
  internal/tools/go.mod
  internal/tools/tools.go
Due: none

[chore] bump go-junit-report to v2
  internal/tools/THIRD_PARTY_NOTICES.md
  internal/tools/go.mod
  internal/tools/go.sum
  internal/tools/tools.go
Due: none

chore: add individual binary targets to restore Make prerequisite support
  Makefile.Common
Due: none

Path conditions:
  exporter_nop: any of: exporter/nopexporter/**, but not: */**/third_party/**/*
  processor_adaptivetelemetry: any of: processor/adaptivetelemetryprocessor/**, but not: */**/third_party/**/*
  receiver_nop: any of: receiver/nopreceiver/**, but not: */**/third_party/**/*
  testbed: any of: testbed/**, but not: */**/third_party/**/*
