Repository newrelic/nrdot-collector-components: changes, and which Codecov flags are due for each by the changed paths.
All: exporter_nop, processor_adaptivetelemetry, receiver_nop, testbed

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes
    # wait for unit and integration test builds.
    after_n_builds: 2
  strict_yaml_branch: main  # only use the latest copy on main branch

coverage:
  precision: 2
  round: down
  range: "80...100"
  status:
    project:
      default:
        enabled: yes
        target: 85%  # This needs to be updated to 90 or higher.
    patch:
      default:
        enabled: yes
        target: 95%

ignore:
  - "*/**/third_party/**/*" # Ignore all 'third_party' directories and files within those directories recursively.

# Use component management to get coverage for each component.
# See https://docs.codecov.com/docs/components
# This list is autogenerated by codecovgen.
# Start autogenerated components list
component_management:
  individual_components:
  - component_id: exporter_nop
    name: exporter_nop
    paths:
    - exporter/nopexporter/**
  - component_id: processor_adaptivetelemetry
    name: processor_adaptivetelemetry
    paths:
    - processor/adaptivetelemetryprocessor/**
  - component_id: receiver_nop
    name: receiver_nop
    paths:
    - receiver/nopreceiver/**
  - component_id: testbed
    name: testbed
    paths:
    - testbed/**
# End autogenerated components list

chore: remove whitespace from chloggen entry
  .chloggen/feature_atp.yaml
  .chloggen/update_chloggen_components.yaml
Due: none

ci: print diff on failing third party notices
  Makefile.Common
Due: none

chore: update third party manifests
  cmd/codecovgen/THIRD_PARTY_NOTICES.md
  internal/common/THIRD_PARTY_NOTICES.md
  internal/coreinternal/THIRD_PARTY_NOTICES.md
  internal/tools/THIRD_PARTY_NOTICES.md
  testbed/THIRD_PARTY_NOTICES.md
Due: testbed

chore: update third party notices
  cmd/codecovgen/THIRD_PARTY_NOTICES.md
  internal/common/THIRD_PARTY_NOTICES.md
  internal/coreinternal/THIRD_PARTY_NOTICES.md
  internal/tools/THIRD_PARTY_NOTICES.md
  testbed/THIRD_PARTY_NOTICES.md
Due: testbed

ci: skip caching dependencies for lint
  .github/workflows/build-and-test.yml
Due: none

fix(tests): fix failing tests
  processor/adaptivetelemetryprocessor/storage_windows.go
  processor/adaptivetelemetryprocessor/storage_windows_test.go
Due: processor_adaptivetelemetry

fix(tests): fix failing tests
  processor/adaptivetelemetryprocessor/process_metrics.go
Due: processor_adaptivetelemetry

chore: automatically generate third party notice overrides on all go modules
  Makefile.Common
  internal/assets/license/overrides.jsonl
Due: none

chore: remove sum cache for lint-matrix
  .github/workflows/build-and-test.yml
Due: none

Revert "chore: remove sum cache for lint-matrix"
  .github/workflows/build-and-test.yml
Due: none

Add comprehensive test coverage and query performance monitoring enhancements
  receiver/newrelicsqlserverreceiver/config_test.go
  receiver/newrelicsqlserverreceiver/documentation.md
  receiver/newrelicsqlserverreceiver/factory_test.go
  receiver/newrelicsqlserverreceiver/helpers/apm_metadata_cache.go
  receiver/newrelicsqlserverreceiver/helpers/apm_metadata_cache_test.go
  receiver/newrelicsqlserverreceiver/helpers/query_anonymizer_comprehensive_test.go
  receiver/newrelicsqlserverreceiver/helpers/sql_normalizer.go
  receiver/newrelicsqlserverreceiver/helpers/sql_normalizer_test.go
  receiver/newrelicsqlserverreceiver/helpers/transaction_isolation_comprehensive_test.go
  receiver/newrelicsqlserverreceiver/helpers/wait_decoder_comprehensive_test.go
  receiver/newrelicsqlserverreceiver/helpers/wait_type_category_test.go
  receiver/newrelicsqlserverreceiver/internal/metadata/generated_config.go
  receiver/newrelicsqlserverreceiver/internal/metadata/generated_config_test.go
  receiver/newrelicsqlserverreceiver/internal/metadata/generated_metrics.go
  receiver/newrelicsqlserverreceiver/internal/metadata/generated_metrics_test.go
  receiver/newrelicsqlserverreceiver/internal/metadata/testdata/config.yaml
  receiver/newrelicsqlserverreceiver/metadata.yaml
  receiver/newrelicsqlserverreceiver/models/query_performance_monitoring_metrics.go
  receiver/newrelicsqlserverreceiver/models/query_performance_monitoring_metrics_test.go
  receiver/newrelicsqlserverreceiver/queries/query_performance_monitoring_metrics.go
  receiver/newrelicsqlserverreceiver/scraper.go
  receiver/newrelicsqlserverreceiver/scrapers/interval_calculator.go
  receiver/newrelicsqlserverreceiver/scrapers/interval_calculator_test.go
  receiver/newrelicsqlserverreceiver/scrapers/scraper_query_performance_monitoring_metrics_test.go
  receiver/newrelicsqlserverreceiver/scrapers/scraper_query_performance_montoring_metrics.go
  receiver/newrelicsqlserverreceiver/scrapers/scraper_query_performance_montoring_metrics_active.go
Due: none

Add New Relic copyright headers to source files
  receiver/newrelicsqlserverreceiver/helpers/query_anonymizer.go
  receiver/newrelicsqlserverreceiver/helpers/query_anonymizer_comprehensive_test.go
  receiver/newrelicsqlserverreceiver/helpers/query_anonymizer_test.go
  receiver/newrelicsqlserverreceiver/helpers/sql_normalizer.go
  receiver/newrelicsqlserverreceiver/helpers/sql_normalizer_test.go
  receiver/newrelicsqlserverreceiver/helpers/transaction_isolation_comprehensive_test.go
  receiver/newrelicsqlserverreceiver/helpers/wait_decoder_comprehensive_test.go
  receiver/newrelicsqlserverreceiver/helpers/wait_type_category_test.go
  receiver/newrelicsqlserverreceiver/models/query_performance_monitoring_metrics_test.go
  receiver/newrelicsqlserverreceiver/scrapers/interval_calculator_test.go
  receiver/newrelicsqlserverreceiver/scrapers/scraper_query_performance_monitoring_metrics_test.go
Due: none

Fix CI build errors
  .chloggen/config.yaml
  receiver/newrelicsqlserverreceiver/go.mod
  receiver/newrelicsqlserverreceiver/metadata.yaml
  receiver/nopreceiver/go.mod
Due: receiver_nop

Update OTel collector dependencies to v0.142.0/v1.48.0
  receiver/newrelicsqlserverreceiver/go.mod
  receiver/newrelicsqlserverreceiver/go.sum
Due: none

minor bug fix
  receiver/newrelicoraclereceiver/scrapers/waitevent_blocking_scraper.go
Due: none

ci: remove col build artficats on clean
  Makefile
Due: none

fix: account for windows paths in nrlicense
  cmd/nrlicense/detector.go
Due: none

ci: move cleaning cols to separate target
  Makefile
Due: none

fix: allow windows style storage paths (#158)
  .chloggen/config.yaml
  .chloggen/feature_atp.yaml
  .github/actionlint.yaml
  .github/lychee.toml
  .github/workflows/build-and-test.yml
  .github/workflows/changelog.yml
  .github/workflows/scoped-test.yaml
  Makefile
  Makefile.Common
  cmd/nrlicense/detector.go
  internal/assets/license/overrides.jsonl
  processor/adaptivetelemetryprocessor/README.md
  processor/adaptivetelemetryprocessor/config.go
  processor/adaptivetelemetryprocessor/factory.go
  processor/adaptivetelemetryprocessor/factory_test.go
  processor/adaptivetelemetryprocessor/persistence.go
  processor/adaptivetelemetryprocessor/persistence_shutdown_test.go
  processor/adaptivetelemetryprocessor/process_metrics.go
  processor/adaptivetelemetryprocessor/processor_init.go
  processor/adaptivetelemetryprocessor/processor_test.go
  processor/adaptivetelemetryprocessor/resource_utils_test.go
  processor/adaptivetelemetryprocessor/storage.go
  processor/adaptivetelemetryprocessor/storage_test.go
  processor/adaptivetelemetryprocessor/storage_unix.go
  processor/adaptivetelemetryprocessor/storage_validation_test.go
  processor/adaptivetelemetryprocessor/storage_windows.go
  processor/adaptivetelemetryprocessor/storage_windows_test.go
Due: processor_adaptivetelemetry

feat: remove processor from atp type name
  .chloggen/config.yaml
  processor/adaptivetelemetryprocessor/README.md
  processor/adaptivetelemetryprocessor/factory.go
  processor/adaptivetelemetryprocessor/factory_test.go
  processor/adaptivetelemetryprocessor/generated_component_test.go
  processor/adaptivetelemetryprocessor/internal/metadata/generated_status.go
  processor/adaptivetelemetryprocessor/metadata.yaml
Due: processor_adaptivetelemetry

docs: add PR to existing atp changelog
  .chloggen/feature_atp.yaml
Due: none

docs: update changelog entry
  .chloggen/feature_atp.yaml
Due: none

feat: remove processor from atp type name (#153)
  .chloggen/config.yaml
  .chloggen/feature_atp.yaml
  processor/adaptivetelemetryprocessor/README.md
  processor/adaptivetelemetryprocessor/factory.go
  processor/adaptivetelemetryprocessor/factory_test.go
  processor/adaptivetelemetryprocessor/generated_component_test.go
  processor/adaptivetelemetryprocessor/internal/metadata/generated_status.go
  processor/adaptivetelemetryprocessor/metadata.yaml
Due: processor_adaptivetelemetry

ci: skip darwin test pipeline gracefully when CGO_MODS is empty
  .github/workflows/build-and-test-darwin.yaml
Due: none

updated .chloggen/feature_atp.yaml
  .chloggen/feature_atp.yaml
Due: none

ci: dummy change to trigger CodeQL
  .chloggen/feature_atp.yaml
Due: none

docs: update chloggen entry for atp (#151)
  .chloggen/feature_atp.yaml
Due: none

revert go version change
  receiver/newrelicoraclereceiver/go.mod
Due: none

Replacing final_blocker_query_id with query_id
  receiver/newrelicoraclereceiver/scrapers/waitevent_blocking_scraper.go
Due: none

fixed lint issue
  receiver/newrelicoraclereceiver/scrapers/waitevent_blocking_scraper.go
Due: none

undo query id change for blocking query id
  receiver/newrelicoraclereceiver/scrapers/waitevent_blocking_scraper.go
Due: none

merged newrelicoracledb.blocking_queries.wait_time_ms into newrelicoracledb.wait_events.current_wait_time_ms
  receiver/newrelicoraclereceiver/documentation.md
  receiver/newrelicoraclereceiver/internal/metadata/generated_config.go
  receiver/newrelicoraclereceiver/internal/metadata/generated_config_test.go
  receiver/newrelicoraclereceiver/internal/metadata/generated_metrics.go
  receiver/newrelicoraclereceiver/internal/metadata/generated_metrics_test.go
  receiver/newrelicoraclereceiver/internal/metadata/testdata/config.yaml
  receiver/newrelicoraclereceiver/metadata.yaml
  receiver/newrelicoraclereceiver/scrapers/waitevent_blocking_scraper.go
Due: none

test case fix
  receiver/newrelicoraclereceiver/scrapers/waitevent_blocking_scraper_test.go
Due: none

fixed linting issues
  receiver/newrelicoraclereceiver/scrapers/waitevent_blocking_scraper_test.go
Due: none

feat:Refactor event name and improve execution plan cache cleanup
  receiver/newrelicsqlserverreceiver/scraper.go
  receiver/newrelicsqlserverreceiver/scrapers/scraper_query_performance_montoring_metrics.go
  receiver/newrelicsqlserverreceiver/scrapers/scraper_query_performance_montoring_metrics_active.go
Due: none

Minor bugs fixes and enhancements (#6)
  receiver/newrelicoraclereceiver/client/sql_client.go
  receiver/newrelicoraclereceiver/documentation.md
  receiver/newrelicoraclereceiver/internal/metadata/generated_metrics.go
  receiver/newrelicoraclereceiver/internal/metadata/generated_metrics_test.go
  receiver/newrelicoraclereceiver/metadata.yaml
  receiver/newrelicoraclereceiver/models/childcursor.go
  receiver/newrelicoraclereceiver/models/executionplan.go
  receiver/newrelicoraclereceiver/models/waitevent_with_blocking.go
  receiver/newrelicoraclereceiver/queries/qpm_queries.go
  receiver/newrelicoraclereceiver/scrapers/childcursors_scraper.go
  receiver/newrelicoraclereceiver/scrapers/childcursors_scraper_test.go
  receiver/newrelicoraclereceiver/scrapers/executionplan_scraper.go
  receiver/newrelicoraclereceiver/scrapers/executionplan_scraper_test.go
  receiver/newrelicoraclereceiver/scrapers/waitevent_blocking_scraper.go
  receiver/newrelicoraclereceiver/scrapers/waitevent_blocking_scraper_test.go
Due: none

feat: Add query_id attribute to blocking query details metric
  receiver/newrelicsqlserverreceiver/documentation.md
  receiver/newrelicsqlserverreceiver/generated_package_test.go
  receiver/newrelicsqlserverreceiver/internal/metadata/generated_metrics.go
  receiver/newrelicsqlserverreceiver/internal/metadata/generated_metrics_test.go
  receiver/newrelicsqlserverreceiver/metadata.yaml
  receiver/newrelicsqlserverreceiver/models/query_performance_monitoring_metrics.go
  receiver/newrelicsqlserverreceiver/scrapers/scraper_query_performance_montoring_metrics_active.go
Due: none
